<!DOCTYPE html>
<html>
<head>
	<title>Hello on Rails</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Добро пожаловать, <%= @name %></h1>
	<h3>Сейчас <%= @time %></h3>
	<p><%= link_to "Сказать до свидания", say_goodbay_path %></p>
</body>
</html>